:root { 
    --default-font-size: 16px;
    --mobile-phone-font-size: calc(var(--default-font-size) - 4px);
    --primary-color: #540d11;
    --secondary-color: #21b530;
    --ease-function: ease-in-out;
    --transition-duration: 1.8s;
    --small-transition-duration: calc(var(--transition-duration) - 0.45s);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.form-group {
    margin: 3rem 0;
}

.form-row {
    display: inline-block;
    margin-right: 20px;
}

h1.title {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#version {
    transition: all var(--transition-duration) var(--ease-function); 
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-style: italic;
    font-size: small;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #b96167;
}

#data-sources {
    transition: all var(--transition-duration) var(--ease-function); 
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#data-sources a {
    transition: all var(--transition-duration) var(--ease-function); 
    text-decoration: none;
    color: #ebbfbf;
}

#data-sources a:hover {
    text-decoration: underline;
    color: #68c5bf !important;
}

#data-sources a:visited {
    color: #b96167;
}

button {
    cursor: pointer;
    border-width: thin;
    border-radius: 25px;
    border-style: outset;
    font-weight: bold;
    font-family: cursive;
}

button:not(:disabled) {
    background-color: #b96167;
    color: aliceblue;
}

button#calculer {
    padding: 5px 50px;
}

button.mini-bouton {
    margin-left: 3rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

span.numberResult {
    font-weight: bold;
}

div.result {
    width: 40vw;
    display: inline-block;
    background-color: aliceblue;
    padding-bottom: 10px;
}

div.result > span {
    font-style: italic;
    text-decoration: underline;
    padding-left: 10px;
}

#resultatV1 {
    margin-bottom: 2rem;
}

#resultatV2 > span {
    font-style: italic;
    text-decoration: underline;
}

#resultat {
    visibility: collapse;
}

#recapModification {
    padding-top: 10px;
}

#recapModification > p {
    margin: 0;
    font-size: 1.6rem;
    color: #b96167;
}

body { 
    background:
        linear-gradient(to right, var(--primary-color), #ffffff) 0 0 / 16.67% 100% repeat-y,
        linear-gradient(to right, #ffffff, var(--primary-color)) 100% 0 / 16.67% 100% repeat-y,
        #ffffff;
    height: calc(100vh - 2rem); /* Ajuste la hauteur pour éviter le débordement affichant la scroll-bar verticale inutilement tout en gardant la possibilité de scroller */
    width: 100%; /* Assure que le fond couvre toute la largeur de la fenêtre sans l'épaisseur de la scroll-bar verticale */
    margin: 0 auto;
    font-size: var(--default-font-size);
}

/* Styles spécifiques aux téléphones */
@media (max-width: 600px) {
    body {
        font-size: var(--mobile-phone-font-size);
    }
}

#layout {
    max-width: 66%;
    margin-right: auto;
    margin-left: auto;
    transition: all var(--small-transition-duration) var(--ease-function);
    transform: scaleX(1);
    background-color: transparent;
    color: black;
}

/* Notifications */

#notification-container {
    transition: all var(--small-transition-duration) var(--ease-function); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
}

#notification-container.show {
    background-color: rgba(0, 0, 0, 0.8);
}

#notification {
    color: var(--secondary-color);
    transition: all var(--transition-duration) var(--ease-function);
    opacity: 0;
    border: 5px solid #ebbfbf;
    border-radius: 1rem;
    background-color: aliceblue;
    font-size: x-large;
    padding: 10px;
}

#notification.show {
    opacity: 1;
}

/* Intro */

#notification-container.intro {
    background-color: var(--primary-color);
}

#layout.intro {
    transform: scaleX(0);
    color: var(--primary-color);
}

#version.intro {
    right: 0;
    bottom: 0;
    color: var(--primary-color);
    text-shadow: none;
}

#data-sources.intro {
    left: 0;
    bottom: 0;
    color: var(--primary-color);
    text-shadow: none;
}

#data-sources.intro a {
    color: var(--primary-color);
}