.center {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: inline-block;
    margin-right: 20px;
}

h1.title {
    color: #540d11;
    margin-bottom: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#version {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-style: italic;
    font-size: small;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #b96167;
}

button#calculer {
    padding: 5px 50px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

span.numberResult {
    font-weight: bold;
}

div.result {
    text-align: left;
    width: 40vw;
    display: inline-block;
    background-color: aliceblue;
}

div.result > span {
    font-style: italic;
    text-decoration: underline;
}

#resultatV1 {
    margin-bottom: 2rem;
}

#resultatV2 > span {
    font-style: italic;
    text-decoration: underline;
}

#resultat {
    visibility: collapse;
}

body { 
    background:
        linear-gradient(to right, #540d11, #ffffff) 0 0 / 16.67% 100% no-repeat,
        linear-gradient(to right, #ffffff, #540d11) 100% 0 / 16.67% 100% no-repeat,
        #ffffff;
    height: 100vh; /* Assure que le fond couvre toute la hauteur de la fenêtre */
    width: 100%;
    margin: 0;
}

#layout {
    max-width: 66%;
    margin-right: auto;
    margin-left: auto;
}